.container {
    margin: -1.75rem auto;
    width: 100%;
    display: flex; 
    justify-content: center;
    padding: 0 1rem;
    gap: 0.66rem; 
}

.container input {
    background: var(--gray-400);
    color: var(--gray-300);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    width: 53.16rem;
    height: 4.5rem;
    font-size: 1.25rem;
    padding: 1.33rem;
}

.container input:focus {
    color: var(--gray-100);
}

.container button {
    background: var(--blue-600);
    color: var(--gray-100);
    font-weigth: 700;
    font-size: 1.16rem;
    border: 0;
    border-radius: 8px;
    height: 4.33rem;
    width: 7.5rem;
    display: flex;
    align-items: center;
    gap: 0.66rem;
    padding: 1.5rem;
    cursor: pointer;
    transition: background-color 0.1s
}

.container button:hover {
    background: var(--blue-300);
}