.container {
    display: flex;
    flex-direction: column;    
    margin: 5.33rem auto;
    width: 61.33rem;
}

.header {   
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem; 
}

.header div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header p {
    color: var(--blue-300);
    font-size: 1.16rem;
    font-weight: 700;
}

.header p.doneTitle {
    color: var(--purple-300);
}

.header span {
    background-color: var(--gray-400);
    color: var(--gray-200);
    border-radius: 999px;
    padding: 0.16rem 0.66rem;
    font-weight: 700;
}

.tasks {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    margin: 2rem auto;
    gap: 1rem; 
}